button {
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: .7s all;
  border: 1px solid black;
  background-color: mediumpurple;
  padding: 7px 24px;
  margin-bottom: 15px;
}

button:hover {
  color: mediumpurple;
  transition: .7s all;
  border: 1px solid black;
  background-color: white;
  padding: 7px 24px;
}
