<div class="allButtons">
  <app-project-button [project]="this.projectService.spotipoint"></app-project-button>
  <app-project-button [project]="this.projectService.NBIdealTrains"></app-project-button>
  <app-project-button [project]="this.projectService.ttrainparse"></app-project-button>
  <app-project-button [project]="this.projectService.androidTtrainParse"></app-project-button>
  <app-project-button [project]="this.projectService.howFast"></app-project-button>
  <app-project-button [project]="this.projectService.bigBookRevision"></app-project-button>
  <app-project-button [project]="this.projectService.freelance"></app-project-button>
</div>
