<div class="all-buttons">
  <button (click)="handleClick(this.projectService.spotipoint)">{{this.projectService.spotipoint.buttonName}}</button>
  <button (click)="handleClick(this.projectService.NBIdealTrains)">{{this.projectService.NBIdealTrains.buttonName}}</button>
  <button (click)="handleClick(this.projectService.ttrainparse)">{{this.projectService.ttrainparse.buttonName}}</button>
  <button (click)="handleClick(this.projectService.androidTtrainParse)">{{this.projectService.androidTtrainParse.buttonName}}</button>
  <button (click)="handleClick(this.projectService.howFast)">{{this.projectService.howFast.buttonName}}</button>
  <button (click)="handleClick(this.projectService.bigBookRevision)">{{this.projectService.bigBookRevision.buttonName}}</button>
</div>
