.all-buttons button {
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: .7s all;
  border: 1px solid black;
  background-color: mediumpurple;
  padding: 7px 24px;
  margin-bottom: 15px;
}
.all-buttons {
  max-width: 35%;
  margin: 0 auto;
}

.all-buttons button:hover {
  color: mediumpurple;
  transition: .7s all;
  border: 1px solid black;
  background-color: white;
  padding: 7px 24px;
}
