.donations {
  position: fixed;
  bottom: 2.5%;
  right: 1.5%;
}

.headings {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  text-space: 5px;
}

.header-welcome-text {
  letter-spacing: 7px;
  margin-bottom: 2px;
}

.header-subheading-text {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.belowWelcomeClass {
  text-align: center;
}
.belowWelcomeClass p {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Cabin', sans-serif;
  max-width: 27%;
  color: #191919;
  padding-top: 1%;
  margin-bottom: 65px;
}
