.donations-class {
  color: rebeccapurple;
  background-color: white;
  border: black solid 1px;
  padding: 3px;
  transition: .7s;
  font-family: 'Product Sans'
}

.donations-class:hover {
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
  transition: .7s;
}

.donations-class:focus {
  outline: none;
}
